nav {
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: linear-gradient(to bottom right, grey, black);
    color: white;
    height: 5vh;
    font-size: 2em;
}

nav > a {
    color: white;
    text-decoration: none;
}

nav > a:hover {
    text-decoration: underline;
}